$def with(image, next)

<div id="main">
    <div id="view-photo-main">
        <div id="photo-controls">
            <div style="float:left;"></div>
            <div style="float:right;">
                $ before = next.before
                $ after = next.after
                $if before:
                    <a href="/$before.image_id/">上一张</a> |
                $if after:
                    <a href="/$after.image_id/">下一张</a> | 
                <a href="/random/">随机美女</a> | 
                <!--<a href="http://s.click.taobao.com/t_8?e=7HZ6jHSTb0K5ud242%2FS4f2abwXnirOid9nQjPKV%2Figty&amp;p=mm_14164417_0_0" onclick="">USB电扇</a>-->
            </div>
        </div>
        <div style="clear:both;"></div>
        <div id="photo">
            $ src = '/' + image.image_path
            <img alt="传说中的诱奸900多名学生的孔老师……" src="$src" class="photo-large" id="photo-display" title="" />
            <div style="margin-bottom:20px;" id="view-photo-caption">传说中的诱奸900多名学生的孔老师…… http://bbs.sjtu.edu.cn/bbstcon,board,PPPerson,reid,1275745464.html
            </div>
        </div>
    </div>
    <div id="view-photo-sidebar">
        <div id="view-photo-user">
            <div id="photo-info">
                <div>传说中的诱奸900多名学生的孔老师……</div>
                <div>发布者 <a class="nav" target="_blank">wishbiger </a></div> 
                <div>原始地址: <a href="http://bbs.sjtu.edu.cn/bbstcon,board,PPPerson,reid,1275745464.html" target="_blank">点击前往</a></div> </div><div style="clear:both;"></div></div>
        <div style="margin:10px;" id="view-photo-ad">
	<script type="text/JavaScript" language="javascript">&lt;!--

/* Script removed by snapshot save */

--&gt;</script> 
	<script src="$1" language="javascript"></script>
        </div>
        <div id="view-photo-more">
            <div style="padding-bottom:5px">
                <ul>
                    <li><a href="http://pp-person.appspot.com/19191682">下平静香</a></li>
                    <li><a href="http://pp-person.appspot.com/19191228">吕瑶门 twitter</a></li>
                </ul></div>
                <div style="padding-bottom:5px;">
                    <b>更多美丽人物</b></div><a href="http://pp-person.appspot.com/19195162"><img height="75" width="75" src="$1" class="photo-mini" ilo-full-src="$1" origsrc="$1" title="http://pp-person.appspot.com/thumb/19195162.jpg"></a><a href="http://pp-person.appspot.com/19193523"><img height="75" width="75" src="$1" class="photo-mini" ilo-full-src="$1" origsrc="$1" title="http://pp-person.appspot.com/thumb/19193523.jpg"></a><a href="http://pp-person.appspot.com/19194495"><img height="75" width="75" src="$1" class="photo-mini" ilo-full-src="$1" origsrc="$1" title="http://pp-person.appspot.com/thumb/19194495.jpg"></a></div><div id="view-photo-views">
                <div style="font-size:14px;"><b>被围观了</b> 26878 <b>次</b></div> <div style="font-size:14px;"><b>有<b> 27 <b>人喜欢</b></b></b></div></div><b><b> </b></b></div>

