$def with(image, next, more)

<style type="text/css">

#view-photo-main { float: left; width: 620px; text-align: left; margin: 5px 15px 0px 0px; }
#photo-controls { float: right;}
#view-photo-sidebar {float: left; text-align: left; width: 300px;}
#photo {
    margin: 20px 0px;
    text-align: center;
}
#view-photo-caption {
    padding-bottom: 0;
    padding-left: 7px;
    padding-right: 0;
    padding-top: 7px;
    text-align: left;
}

img#photo-display.photo-large {
    max-width: 560px;
}

.thumb {
    display: table-cell;
    vertical-align: middle;
    float: left;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin: 5px 5px 10px 0px;
    overflow: hidden;
    border: 1px solid #eee;
}
.thumb img {
    vertical-align:middle;
}

</style>    

<div id="main">
    <div id="view-photo-main">
        <div id="photo-controls">
            <div style="float:left;"></div>
            <div style="float:right;">
                $ before = next.before
                $ after = next.after
                $if before:
                    <a href="/$before.image_id">上一张</a> |
                $if after:
                    <a href="/$after.image_id">下一张</a> | 
                <a href="/random">随机图片</a>
                $if config.logged.logged():
                    | <a href="/delete/$image.image_id">删除当前图片</a>
            </div>
        </div>
        <div style="clear:both;"></div>
        <div id="photo">
            $var title = image.description + '……'
            $ src = '/image/' + str(image.image_id)
            <img alt="$image.description……" src="$src" class="photo-large" id="photo-display" title="" />
            <div style="margin-bottom:20px;" id="view-photo-caption">$image.description…… $image.link
            </div>
        </div>
    </div>
    <div id="view-photo-sidebar">
        <div id="view-photo-user">
            <div id="photo-info">
                <div>$image.description……</div>
                <div>发布者 <a class="nav" target="_blank">$image.username </a></div> 
                <div>原始地址: 
                $if image.link:
                <a href="$image.link" target="_blank">点击前往</a>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
            <div id="more-image">
                    <b>更多图片</b>
                    <div style="clear:both;"></div>
                $for img in more:
                    $ src = '/thumb/' + str(img.image_id)
                    <div class="thumb">
                        <a href="/$img.image_id"><img src="$src" class="photo-mini" title="$src"></a></div>
            </div>
            <div style="clear:both;"></div>
            <div id="view-photo-views">
                <div style="font-size:14px;"><b>被围观了</b> $image.visit <b>次</b></div> 
                <div style="font-size:14px;"><b>有</b> $image.likes <b>人喜欢</b></div>
            </div>
        </div>
    </div>
</div>

